
MTurkAgent/runtime/behaviors/
MTurkAgent/runtime/planstatus/

IDSAIAgent/runtime/planstatus/

.metadata/

*.class
*.project

*.
logs
*/.idea
.project
/RemoteSystemsTempFiles
/Rebo4aiAgent/runtime/LightSide_2.3.1_20141107
IDSAIAgent/IDSAIAgent.launch
Rebo4aiAgent/Rebo4aiAgent.launch
IDSAIAgent/IDSAIAgent.launch
*/build.xml
Rebo4aiAgent/bin/.gitignore
/lightside/*
*/build.xml
lightside/lightside_log.log
Rebo4aiAgent/Rebo4aiAgent.jar
lightside.tar
AccountableTalkAgent/.project
BaseAgent/.project
BasilicaCore/.project
IDSAIAgent/.project
lightside/.project
lightside/wekafiles/packages/bayesianLogisticRegression/.project
lightside/wekafiles/packages/chiSquaredAttributeEval/.project
lightside/wekafiles/packages/LibLINEAR/.project
lightside/wekafiles/packages/LibSVM/.project
LightSideMessageAnnotator/.project
PythonMessageAnnotator/bin/.gitignore
Rebo4aiAgent/.project
SocialAgent/.project
SocketIOClient/.project
Synonymizer/.project
TuTalkSlim/.project
TutorAgent/.project
TutorAgent/.project
